<% @places.each do |place| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<h1><%= place.name %></h1><br />
		<i class="font"><%= place.address %></i><br /><br />
		<p class="font"><%= place.description %></p><br />
	</div>

	<%= will_paginate @places %>

<% end %>

